@import "../../dist/globals";

.container{
    // display: flex;
    padding: 1rem;
    padding-top: 0.5rem;
    // justify-content:center;
    // gap: 1rem;

    .travel-image{
        margin-top: 15vh;
        margin-bottom: auto;
        float: left;
        // flex-wrap: wrap;
        max-width: 35vw;
        // height: 53vh;
        padding: 16px;
    }
}

@media screen and (max-width: 676px) {
    .travel-image {
        display: none;
    }
}