@import "../../dist/globals";

.container{
    // display: flex;
    // flex-direction: column;
    padding: 24px;

    .travel-image{
        margin-right: 16px;
        float: left;
        border: 1px solid $grey-color;
        max-width: 40vw;
        height: 53vh;
    }
}

@media screen and (max-width: 767px) {
    .travel-image {
        display: none;
    }
}