<p>confirmation of booking</p>

<p> Contact Details</p>
<label for="">User Name</label>
<input type="text" name="" id="">

<label for="">Email</label>
<input type="text" name="" id="">

<p>Passenger information</p>

<label for="">Passenger information</label>
<label for="">Passenger{{numberOfPassengers}}</label>
<input type="text" name="" id="">

<label for="">Gender</label>
<input type="radio" name="" id="">
<label for="">Male</label>
<input type="radio" name="" id="">
<label for="">Female</label>

<p>Booking Charge</p>
<p>Seats:</p>
<p>{{selectedSeats}}</p>
<p>Total Amount:</p>
<img src="../../assets/rupee.svg" alt="" width="20px" height="20px">
<p>{{totalPrice}}</p>

<button>Confirm</button>

