<!-- <app-nav-bar></app-nav-bar> -->

<p class="heading">Add new Locations services</p>


<div class="form">
    <p>City name</p>
    <div class="input-cards" *ngFor=" let input of totalInputs">
        <input type="text" #location="ngModel" ngModel (blur)="addLocation(location)">
        <!-- <img src="../../assets/icons8-close.svg" alt="close icon" width="18px" height="18px" > -->
        <button class="delete" (click)="deleteForm(input)">&#215; delete</button>
    </div>
    <div class="new-button">
        <button class="add" (click)="addNewInput(1)">&#43; add</button>
        <button (click)="submitLocationDetails()">Submit</button>
    </div>
</div>