<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="bus-container">
        <div>
            <p>{{bus.busName | uppercase}} - <span>{{bus.type | titlecase}}</span></p>
            <p>Boarding Point - <span>{{bus.pickupPoint | titlecase}}</span></p>
            <p>Droping Point - <span>{{bus.dropingPoint | titlecase}}</span></p>
        </div>
        <p>Avaliable Seats - <span>{{avaliableSeatCounts}}</span></p>
    </div>

    <div class="seats-details">
        <div class="bus-layout">
            <img src="../../assets/car-steering-wheel.png" alt="">
            <div id="front" class="front-seat">
                <!-- <div *ngFor = "let seat of seatsStatus"> -->
                <div *ngFor="let seat of seatsStatus" class="bus-seat">
                    <img id={{seat.seatNumber}} src="../../assets/sofa-white.svg" [hidden]="!seat.avaliable" width="34px"
                        height="34px" alt="bus seat icon" (click)="seatSelected(seat.seatNumber)">
                    <img id={{seat.seatNumber}} src="../../assets/sofa-red.svg" [hidden]="seat.avaliable" width="34px"
                        height="34px" alt="bus seat icon">
                    <img id={{seat.seatNumber}} src="../../assets/sofa-green.svg" [hidden]="seatSelect" width="34px"
                        height="34px" alt="bus seat icon" (click)="seatSelected(seat.seatNumber)">
                </div>
                <!-- </div> -->
            </div>

            <div id="back" class="back-seat" >
                <div *ngFor="let value of lastRows">
                    <img id={{value.seatNumber}} src="../../assets/sofa-white.svg" [hidden]="!value.avaliable" width="34px"
                        height="34px" alt="bus seat icon" (click)="seatSelected(value.seatNumber)">
                    <img id={{value.seatNumber}} src="../../assets/sofa-red.svg" [hidden]="value.avaliable" width="34px"
                        height="34px" alt="bus seat icon" (click)="seatSelected(value.seatNumber)">
                    <img id={{value.seatNumber}} src="../../assets/sofa-green.svg" [hidden]="seatSelect" width="34px"
                        height="34px" alt="bus seat icon" (click)="seatSelected(value.seatNumber)">
                </div>
            </div>
        </div>

        <div class="prices">
            <p *ngIf="seatsArray.length !== 0">Seats Selected</p>
            <span *ngIf="seatsArray.length !== 0">{{seatsArray.toString()}}</span>
            
            <p *ngIf="seatsArray.length !== 0">Fare: <span>&#8377;{{price}}</span></p>

            <button style="background-color: #1951B5;" *ngIf="seatsArray.length !== 0" (click) = "selectSeats()">CONTINUE</button>
            <button style="background-color: #D3D3D3;" *ngIf="seatsArray.length === 0" disabled>SELECT SEATS TO
                PROCEED</button>

        </div>
    </div>

</div>