@import "../../../dist/globals";


form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: $white-color;
    border: 1px solid $grey-color;
    padding: 1rem;
    border-radius: 0.3rem;

    input[type="text"] {
        padding: 0.6rem;
    }

    input[type="date"] {
        padding: 0.6rem;
    }

    label {
        font-size: 1.02em;
        font-weight: 550;
    }

    button {
        width: fit-content;
        font-size: 1.02em;
        padding: 0.5rem;
        margin-top: 2rem;
        background-color: $green-color;
        border: none;
        color: $white-color;
        font-weight: 400;
        align-self: start;
        border: 1px solid $white-color;
        border-radius: 0.3em;

    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        border: 1px dotted $white-color;
    }
}

.error-message {
    display: flex;
    gap: 0.5rem;
    line-height: normal;

    div {
        font-size: 13px;
        color: $red-color;
    }
}