
<form #searchLocations = "ngForm" (ngSubmit)="submitSearchDetails(searchLocations)">
    <label for="from">from</label>
    <input id = "form" type="text" name = "boardingLocation" placeholder="select boarding" list="locationList" #from = "ngModel" required ngModel>
    <div class="error-message" *ngIf="(from.touched && from.invalid) || destinationError">
        <span *ngIf="from.invalid"><img src="../../../assets/icons8-alert-16.png"/></span>
        <div *ngIf="from.hasError('required')">boarding location can not be empty</div>
    </div>

    <label for="to">to</label>
    <input id = "to" type="text" name = "destinationLocation" placeholder="select destination" list="locationList" #to = "ngModel" required ngModel>
    <div class="error-message" *ngIf="(to.touched && to.invalid) || destinationError">
        <span *ngIf="from.invalid"><img src="../../../assets/icons8-alert-16.png"/></span>
        <div *ngIf="to.hasError('required')">destination location can not be empty</div>
    </div>

    <label for="to">travel date</label>
    <input id = "to" type="date" name = "boardingDate" placeholder="date" #date = "ngModel" required ngModel>
    <div class="error-message" *ngIf="date.touched && date.invalid || dateError">
        <span *ngIf="date.invalid"><img src="../../../assets/icons8-alert-16.png"/></span>
        <div *ngIf="date.hasError('required')">date can not be empty</div>
    </div>

    <button>Search Bus</button>
</form>

<datalist id="locationList">
    <ul>
        <li><option value="option 1"></option></li>
    </ul>
</datalist> 

   