@import "../../dist/globals";

.table-container {
    background-color: $white-color;
    // border: 1px solid black;
    border-top: 3.5px solid $navy-light-blue;
    border-bottom: 1px solid $grey-color;
    border-left: 1px solid $grey-color;
    border-right: 1px solid $grey-color;

    // padding: 1rem;
    // margin: 2rem;

    h2 {
        padding: 0.8rem;
        font-size: large;
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid $grey-color;
    }

    table {
        border-collapse: collapse;
        width: 90%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    td {
        font-size: small;
        border: 1px solid $grey-color;
        padding: 0.5rem;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        @extend td;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: left;
        background-color: $green-color;
        color: $white-color;
        font-weight: 550;
        text-align: center;
    }

    .button-action {
        text-align: center
    }

    button {
        @include btn;
        background-color: $red-color;
        border: none;
        cursor: pointer;
    }
}


@media screen and (max-width: 676px) {
    .table-container {
        overflow: scroll;
        width: 60%;
        height: auto;
    }
}