@import "../../dist/globals";

* {
    background-color: $white-grey;
    font-weight: 550;
}

.heading {
    text-align: center;
    font-size: 1.25rem;
    padding: 1rem;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 25% 2% 25%;
    width: 100%;


    p {
        padding: 0.5rem 1rem 0.5rem 0rem;
        background-color: $white-color;
    }

    .contact-heading {
        padding-left: 0;
        border-bottom: 1px solid $grey-color;
    }

    .profile-card {
        background-color: $white-color;
        border: 1px solid $grey-color;
        padding: 1rem;
        border-radius: 0.3rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .profile-container {
        display: flex;
        background-color: $white-color;

        .user-details {
            background-color: $white-color;

            .text-value {
                color: $green-color;
            }
        }
    }
}


@media screen and (max-width: 676px) {

    .outer-container {
        padding: 1.2rem;
    }
}