<footer>
    <p class="title">Contact us</p>
    <div class="contact-section">
        <img src="../../../assets/icons8-gmail-30.svg" alt="facebook log" width="25px" height="25px">
        <p>{{appName}}@gmail.com</p>
    </div>
    <div class="contact-section">
        <img src="../../../assets/icons8-facebook.svg" alt="facebook log" width="25px" height="25px">
        <p>{{appName}}</p>
    </div>
    <div class="contact-section">
        <img src="../../../assets/icons8-twitter-30.svg" alt="facebook log" width="25px" height="25px">
        <p>@{{appName}}</p>
    </div>
    <p class="bottom">Copyrigh &#169; {{year}} {{appName}}. All rights reserved</p>
</footer>