@import "../../../dist/globals";

@mixin  hover-property {
    cursor: pointer;
    border-bottom: 3px solid $green-color;
}

nav {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
    justify-content: space-between;
    background-color: $white-color;
    position: sticky;
    border-bottom: 1px solid $grey-color;
    top: 0;

    .home {
        align-self: center;
    }

    a {
        @include navigation;
        font-size: 1rem;
        border-bottom: 4px solid $white-color;

    }
    
    a:hover {
        @include hover-property()
    }

    div {
        display: flex;
        gap: 12px;
    }
}

