<nav>
    <div class="home">
        <app-home-btn></app-home-btn>
    </div>

    <div>

        <p routerLink="/my-trips">My Trips</p>

        <ng-template [ngIf]="roleStatus">
            <p (click)="adminDashboard()">Dashboard</p>
        </ng-template>

        <div class="profile-menu">
            <p routerLink="/profile">Profile</p>
            <p (click)="sendLogout()">Logout</p>
        </div>
    </div>

    <!-- <div class="menu">
        <select name="" id="">
            <option value="">menu</option>
            <option value="">My Trips</option>
            <option value="">Dashboard</option>
            <option value="">Profile</option>
            <option value="">Logout</option>
        </select>
    </div> -->
</nav>
