@import "../../../dist/globals";

@mixin  hover-property {
    cursor: pointer;
    border-bottom: 2px solid $green-color;
}

nav {
    display: flex;
    padding: 0.3rem 1.75rem 0.3rem 0.75rem;
    justify-content: space-between;
    background-color: $white-color;
    position: sticky;
    border-bottom: 1px solid $grey-color;
    top: 0;
    margin-bottom: 1rem;

    .home {
        align-self: center;
    }

    p{
        @include navigation;
        font-size: 1rem;
        border-bottom: 4px solid $white-color;

    }
    
    p:hover{
        @include hover-property()
    }

    div {
        display: flex;
        gap: 0.7rem;
    }
}

